{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
{% load humanize %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a title="Add Fee Penalty" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li><a class="dropdown-item" href="#">
                    <button title="Add Fee Penalty" type="button" class="btn btn-primary" data-bs-toggle="modal" style="width:100%" data-bs-target="#verticalycentered">Add Penalty</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Fee Penalties
                {% if school_info.separate_school_section and school_info.school_type == 'mix' %}
                    {% if user.profile.type == 'pri' %}
                        in Primary Division of the School
                    {% elif user.profile.type == 'sec' %}
                        in Secondary Division of the School
                    {% elif user.profile.type == 'mix' %}
                        in the School
                    {% endif %}
                {% endif %}
            </h5>
            {% if form.errors %}
                <h5 class="text-danger">{{form.errors}}</h5>
            {% endif %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fee</th>
                    <th scope="col">Amount</th>
                    <th scope="col" class="text-center">Percentage</th>
                    <th scope="col" class="text-center">Due Time</th>
                    <th scope="col">Status</th>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %} <th scope="col">Category</th> {% endif %}
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if fee_penalty_list %}
                {% for penalty in fee_penalty_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created by {{ penalty.user|lower }} at {{ penalty.created_at|date }} {% if penalty.updated_by %} and updated by {{ penalty.updated_by|lower }} at {{ penalty.updated_at|date }} {% endif %}">{{ penalty.fee_master }}</td>
                    <td>{% if penalty.amount %} {{ penalty.amount|intcomma }} {% else %} ---------- {% endif %}</td>
                    <td class="text-center">{% if penalty.percentage %} {{ penalty.percentage }} {% else %} ---------- {% endif %}</td>
                    <td class="text-center">{% if penalty.date_reference == 'days' %} {{ penalty.days_from_resumption }} Day{{days_from_resumption|pluralize}} {% elif penalty.date_reference == 'date' %} {{ penalty.due_date|date }} {% endif %}</td>
                    <td><span class="text-center {% if penalty.status|lower == 'active' %} text-success {% else %} text-danger {% endif %}"> {{penalty.status|upper}} </span></td>

                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %}
                    <td>{% if penalty.type|lower == 'pri' %} PRIMARY {% elif penalty.type|lower == 'sec' %} SECONDARY  {% endif %} </td>
                    {% endif %}
                    <td class="text-center">
                        <a href="{% url 'fee_penalty_edit' penalty.id %}" title="Edit Fee Penalty" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'fee_penalty_detail' penalty.id %}" title="Fee Penalty Detail" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        <a href="{% url 'fee_penalty_delete' penalty.id %}" title="Delete Fee Penalty" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
            {% if not fee_penalty_list %}
                <h3 class="text-center">No Fee Penalty Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>


<form method="POST" action="{% url 'fee_penalty_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Fee Penalty</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body row">
                    <input type="hidden" name="type" value="{{ user.profile.type }}" />
                    <input type="hidden" name="user" value="{{ user.id }}" />
                    <div class="form-floating col-md-6">
                        {{ form.fee_master }}<br>
                        <label for="floatingName">Fee <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <select class="form-control" required name="method" id="fee_method">
                            <option value="">------------------</option>
                            <option value="amount">FIXED AMOUNT</option>
                            <option value="percentage">PERCENTAGE</option>
                        </select>
                        <label for="floatingName">Penalty Type <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <input type="number" step="any" class="form-control" id="fee_amount" name="amount" readonly><br />
                        <label for="floatingName">Amount <span style="color:red" id="amount_required"></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <input type="number" step="any" class="form-control" id="fee_percentage" name="percentage" readonly>
                        <label for="floatingName">Percentage <span style="color:red" id="percentage_required"></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <select class="form-control" required name="date_reference" id="date_reference">
                            <option value="">------------------</option>
                            <option value="days">DAYS FROM RESUMPTION</option>
                            <option value="date">SELECTED DATE</option>
                        </select>
                        <label for="floatingName">Penalty Date Type <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <input type="number" step="any" class="form-control" id="fee_days" name="days_from_resumption" readonly><br />
                        <label for="floatingName">No of Days From Resumption <span style="color:red" id="days_required"></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        <input type="date" class="form-control" id="fee_date" name="due_date" readonly>
                        <label for="floatingName">Penalty Due Date <span style="color:red" id="date_required"></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        {{ form.status }}
                        <label for="floatingName">Status <span style="color:red"></span></label>
                    </div><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
<script>
$(document).ready(function(){
    $('#fee_method').change(function(){
        method = $(this).val()
        if(method == 'amount'){
            $('#amount_required').text('*')
            $('#percentage_required').text('')
            $('#fee_amount').attr('required', true)
            $('#fee_amount').removeAttr('readonly')
            $('#fee_percentage').attr('required', false)
            $('#fee_percentage').val('')
            $('#fee_percentage').attr('readonly', true)
        } else if(method == 'percentage'){
            $('#amount_required').text('')
            $('#percentage_required').text('*')
            $('#fee_amount').attr('required', false)
            $('#fee_percentage').attr('required', true)
            $('#fee_percentage').removeAttr('readonly')
            $('#fee_amount').attr('readonly', true)
            $('#fee_amount').val('')
        }else {
            $('#fee_amount').attr('required', false)
            $('#fee_percentage').attr('required', false)
            $('#amount_required').text('')
            $('#percentage_required').text('')
            $('#fee_amount').attr('readonly', true)
            $('#fee_percentage').attr('readonly', true)
            $('#fee_percentage').val('')
            $('#fee_amount').val('')
        }
    })


    $('#date_reference').change(function(){
        method = $(this).val()
        if(method == 'days'){
            $('#days_required').text('*')
            $('#date_required').text('')
            $('#fee_days').attr('required', true)
            $('#fee_days').removeAttr('readonly')
            $('#fee_date').attr('required', false)
            $('#fee_date').val('')
            $('#fee_date').attr('readonly', true)
        } else if(method == 'date'){
            $('#days_required').text('')
            $('#date_required').text('*')
            $('#fee_date').attr('required', true)
            $('#fee_date').removeAttr('readonly')
            $('#fee_days').attr('readonly', true)
            $('#fee_days').attr('required', false)
            $('#fee_days').val('')
        }else {
            $('#days_required').text('')
            $('#date_required').text('')
            $('#fee_date').val('')
            $('#fee_date').attr('required', false)
            $('#fee_date').attr('readonly', true)
            $('#fee_days').attr('required', false)
            $('#fee_days').attr('readonly', true)
            $('#fee_days').val('')

        }
    })

})

</script>

{% endblock %}

