{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title text-center">Update Expense - {% now "jS F Y" %}</h5>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update Expense</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="updated_by" value="{{ user.id }}" />
                                <div class="row">
                                    <div class="form-floating col-md-6">
                                        {{ form.category }}
                                        <label for="floatingName">Category <span style="color:red"><b>*</b></span></label>
                                        <br />
                                    </div><br />

                                    <div class="form-floating col-md-6">
                                        {{ form.expense_type }}
                                        <label for="floatingName">Type <span style="color:red"><b>*</b></span></label>
                                        <br />
                                    </div><br />

                                    <div class="form-floating col-md-6">
                                        {{ form.amount }}
                                        <label for="floatingName">Amount <span style="color:red"><b>*</b></span></label>
                                        <br />
                                    </div><br />

                                    <div class="form-floating col-md-6">
                                        <input type="date" name="date" class="form-control" value="{{expense.date|date:'Y-m-d'}}">
                                        <label for="floatingName">Date </label>
                                        <br />
                                    </div><br />

                                    <div class="form-floating col-md-6">
                                        {{ form.description }}
                                        <label for="floatingName">Extra Info</label>
                                        <br />
                                    </div><br />

                                    <div class="form-floating col-md-6">
                                        {{ form.expense_proof }}
                                        <label for="floatingName">Income Proof </label>
                                        <br />
                                    </div><br />

                                </div>

                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'expense_detail' expense.id %}" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}