<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{site_info.title|title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="{% static 'images/favicon.png' %}" rel="icon">
    <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="{% static 'admin_dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'admin_dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'admin_dashboard/styles/style.css' %}" rel="stylesheet">
    <style>
          .nav-link {
            height:35px
          }

    </style>
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'admin_dashboard' %}" class="logo d-flex align-items-center">
            <!--        <img src="/media/{{ site_info.logo }}" alt="" style="width:100px;height:100px">-->
                <span class="">{{ school_info }}</span>
            </a>

        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="/media/{{ school_info.logo }}" alt="Profile" class="rounded-circle">
                    </a>
                </li>
            </ul>
        </nav>

    </header>


  <main style="width:100%;padding:0px;background-size: cover;background-image: url('{% static "admin_dashboard/images/background.jpg" %}');">
    <div class="cntainer" style="padding:0px;width:100%;padding:0px;background-color: rgba(0, 0, 0, 0.8);">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3" style="max-width:400px;">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" style="margin-top:-30px;"><b style="background:white">Password Reset</b></h5>
                    <p class="text-center small">.</p>
                  </div>

                  <form action="" method="POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="col-12">
                      <label for="yourUsername" style="background:white;font-weight:bolder" class="form-label"><b>Username/ID</b></label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" placeholder="Enter your Username" name="username" class="form-control" autocomplete="off" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>
                    <p class="card-description" style="text-align:justify">Your Password will be reset to the default password. The password will be
                        sent to your email address if you provided it during registration</p>
                    {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{{message.tags}} {% if message.tags == 'error' %} alert-danger {% endif %} alert-dismissible fade show" role="alert">
                          <i class="bi bi-exclamation-octagon me-1"></i>
                          {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}
                    {% endif %}
                    <div class="col-12">
                      <button class="btn btn-success w-100" type="submit">Reset</button>
                    </div>
                    <a href="{% url 'login' %}"><b>Portal Login</b></a>
                  </form>

                </div>
              </div>

            </div>


          </div>
        </div>
        <hr style="border:1px solid white;color:white;width:100%" />
        <div >
          <span><a style="color:white;margin-right:30px" href="https://daisiesacademy.com.ng" target="_blank"><i class="bi bi-house-door-fill"></i> Home Page </a></span>
          <span><a style="color:white;margin-right:30px" href="mailto:{{ school_info.email|lower }}"><i class="bi bi-envelope-open-fill"></i> {{ school_info.email|lower }}</a></span>
          <span><a style="color:white;margin-right:30px" href="tel:{{ school_info.mobile_1 }}"><i class="bi bi-telephone-forward-fill"></i> {{ school_info.mobile_1 }} </a></span>
        </div>
      </section>

    </div>
  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin_dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'admin_dashboard/vendor/tinymce/tinymce.min.js' %}"></script>

  <script src="{% static 'admin_dashboard/vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'admin_dashboard/scripts/main.js' %}"></script>

</body>

</html>

