{% extends 'admin_dashboard/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ academic_info.session }} <span>| {{ academic_info.term|upper }}</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar2-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{% now "" %}</h6>
                                    <span class="text small pt-1 fw-bold">Today's Date</span> <span class="text-muted small pt-2 ps-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Students <span>| Active</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ active_students }}</h6>
                                    <span class="text-grey small pt-1 fw-bold">No of Students</span> <span class="text-muted small pt-2 ps-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0">
                            <h5 class="card-title">Student Distribution <span>| </span></h5>
                            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                  echarts.init(document.querySelector("#trafficChart")).setOption({
                                    tooltip: {
                                      trigger: 'item'
                                    },
                                    legend: {
                                      top: '5%',
                                      left: 'center'
                                    },
                                    series: [{
                                      name: 'Number of Students',
                                      type: 'pie',
                                      radius: ['40%', '70%'],
                                      avoidLabelOverlap: false,
                                      label: {
                                        show: false,
                                        position: 'center'
                                      },
                                      emphasis: {
                                        label: {
                                          show: true,
                                          fontSize: '18',
                                          fontWeight: 'bold'
                                        }
                                      },
                                      labelLine: {
                                        show: false
                                      },
                                      data: [
                                        {% for record in student_class_list %}
                                        {
                                          value: {{ record.number_of_students }},
                                          name: '{{record|upper}}'
                                        },
                                        {% endfor %}
                                      ]
                                    }]
                                  });
                                });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activity <span>| {{ academic_info.session }} {{ academic_info.term|title }}</span></h5>
                    <div class="activity">
                        {% if notification_list %}
                        {% for notification in notification_list %}
                        {% if notification.category == 'student_registration' %}
                        <div class="activity-item d-flex">
                            <div class="activite-label" style="width:90px">{{ notification.created_at|naturaltime }} </div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                            <div class="activity-content">
                                <a {% if notification.reference_id %} href="{% url 'student_detail' notification.reference_id %}" {% else %} href="#" {% endif %} class=" text-dark">{{ notification.subject|safe|capfirst}}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% if notification.category == 'fee_payment' %}
                        <div class="activity-item d-flex">
                            <div class="activite-label" style="width:90px">{{ notification.created_at|naturaltime }} </div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                            <div class="activity-content">
                                <a {% if notification.reference_id %} href="{% url 'fee_payment_detail' notification.reference_id %}" {% else %} href="#" {% endif %} class=" text-dark">{{ notification.subject|safe|capfirst}}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="activity-item d-flex">
                            <div class="activity-content">
                                No Recent Activity Yet
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}