{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a title="Add Fee" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li><a class="dropdown-item" href="#">
                    <button title="Add Fee" type="button" class="btn btn-primary" data-bs-toggle="modal" style="width:100%" data-bs-target="#verticalycentered">Add Fee</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Fee
                {% if school_info.separate_school_section and school_info.school_type == 'mix' %}
                    {% if user.profile.type == 'pri' %}
                        in Primary Division of the School
                    {% elif user.profile.type == 'sec' %}
                        in Secondary Division of the School
                    {% elif user.profile.type == 'mix' %}
                        in the School
                    {% endif %}
                {% endif %}
            </h5>
            {% if form.errors %}
                <h5 class="text-danger">{{form.errors}}</h5>
            {% endif %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fee</th>
                    <th scope="col">Fee Code</th>
                    <th scope="col">Occurrence</th>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %} <th scope="col">Category</th> {% endif %}
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if fee_list %}
                {% for fee in fee_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="{% if fee.description %} {{ fee.description }} : {% endif %} created by {{ fee.user|lower }} at {{ fee.created_at|date }} {% if fee.updated_by %} and updated by {{ fee.updated_by|lower }} at {{ fee.updated_at|date }} {% endif %}">{{ fee.name|upper }}</td>
                    <td>{{ fee.code|upper }}</td>
                    <td>{{ fee.fee_occurrence|upper }}</td>

                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %}
                    <td>{% if fee.type|lower == 'pri' %} PRIMARY {% elif fee.type|lower == 'sec' %} SECONDARY  {% endif %} </td>
                    {% endif %}
                    <td class="text-center">
                        <a href="{% url 'fee_edit' fee.id %}" title="Edit Fee" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'fee_delete' fee.id %}" title="Delete Fee" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
            {% if not fee_list %}
                <h3 class="text-center">No Fee Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>


<form method="POST" action="{% url 'fee_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Fee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" name="type" value="{{ user.profile.type }}" />
                <input type="hidden" name="user" value="{{ user.id }}" />
                <div class="modal-body row">
                    <div class="form-floating col-md-6">
                        {{ form.name }}
                        <label for="floatingName">Fee Name <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        {{ form.code }}
                        <label for="floatingName">Fee Code <span style="color:red"><b>*</b></span></label>
                        <br />
                    </div><br />

                    <div class="form-floating col-md-6">
                        {{ form.description }}
                        <label for="floatingName">Fee Description </label>
                    </div><br />


                    <div class="form-floating col-md-6">
                        <select class="form-control" name="fee_occurrence" id="occurrence" required>
                            <option value="">--------------</option>
                            <option {% if fee.fee_occurrence == 'termly' %} selected {% endif %} value="termly">Termly</option>
                            <option {% if fee.fee_occurrence == 'annually' %} selected {% endif %}  value="annually">Annually</option>
                            <option {% if fee.fee_occurrence == 'one time' %} selected {% endif %}  value="one time">One Time</option>
                        </select>
                        <br />
                        <label for="floatingName">Fee Occurrence <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6 {% if fee.fee_occurrence != 'annually' and fee.fee_occurrence != 'one time' %} d-none {% endif %}" id="payment_term_div">
                        <select class="form-control" name="payment_term" id="payment_term">
                            <option value="">--------------</option>
                            <option {% if fee.payment_term == '1st term' %} selected {% endif %}  value="1st term">First Term</option>
                            <option {% if fee.payment_term == '2nd term' %} selected {% endif %}  value="2nd term">Second Term</option>
                            <option {% if fee.payment_term == '3rd term' %} selected {% endif %}  value="3rd term">Third Term</option>
                            <option {% if fee.payment_term == 'any term' %} selected {% endif %}  value="any term">Any Term</option>
                        </select>
                        <label for="floatingName">Payment Term <span style="color:red"><b>*</b></span></label>
                    </div><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
<script>
$(document).ready(function(){
    $('#occurrence').change(function(){
        occurrence = $(this).val()
        if(occurrence == 'one time' | occurrence == 'annually'){
            $('#payment_term_div').removeClass('d-none')
            $('#payment_term').attr('required', true)
        }else{
            $('#payment_term_div').addClass('d-none')
            $('#payment_term').attr('required', false)
        }
    })

})

</script>

{% endblock %}