{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Fee Discount Group</h4>
            <p>Fee Discount Group: <i>{{fee_discount_group|upper }}</i></p>

            <p>The Fee Discount Group will be permanently deleted.</p>

            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'fee_discount_group_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}