{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
{% load humanize %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a title="Add Discount Group" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li><a class="dropdown-item" href="#">
                    <button title="Add Discount Group" type="button" class="btn btn-primary" data-bs-toggle="modal" style="width:100%" data-bs-target="#verticalycentered">Add Discount Group</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Fee Discounts/Scholarship Groups
                {% if school_info.separate_school_section and school_info.school_type == 'mix' %}
                    {% if user.profile.type == 'pri' %}
                        in Primary Division of the School
                    {% elif user.profile.type == 'sec' %}
                        in Secondary Division of the School
                    {% elif user.profile.type == 'mix' %}
                        in the School
                    {% endif %}
                {% endif %}
            </h5>
            {% if form.errors %}
                <h5 class="text-danger">{{form.errors}}</h5>
            {% endif %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col">Discounts</th>
                    <th scope="col" class="text-center">Students</th>
                    <th scope="col">Status</th>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %} <th scope="col">Category</th> {% endif %}
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if fee_discount_group_list %}
                {% for discount in fee_discount_group_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created by {{ discount.user|lower }} at {{ discount.created_at|date }} {% if discount.updated_by %} and updated by {{ discount.updated_by|lower }} at {{ discount.updated_at|date }} {% endif %}">{{ discount.name|title }}</td>
                    <td>{{ discount.discounts.all|length }}</td>
                    <td class="text-center">{{ discount.students.all|length }}</td>
                    <td><span class="text-center {% if discount.status|lower == 'active' %} text-success {% else %} text-danger {% endif %}"> {{discount.status|upper}} </span></td>

                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %}
                    <td>{% if discount.type|lower == 'pri' %} PRIMARY {% elif discount.type|lower == 'sec' %} SECONDARY  {% endif %} </td>
                    {% endif %}
                    <td class="text-center">
                        <a href="{% url 'fee_discount_group_edit' discount.id %}" title="Edit Fee Discount" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'fee_discount_group_detail' discount.id %}" title="Fee Discount Detail" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        <a href="{% url 'fee_discount_group_delete' discount.id %}" title="Delete Fee Discount" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
            {% if not fee_discount_group_list %}
                <h3 class="text-center">No Fee Discount Group Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>


<form method="POST" action="{% url 'fee_discount_group_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Fee Discount Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body row">
                    <input type="hidden" name="type" value="{{ user.profile.type }}" />
                    <input type="hidden" name="user" value="{{ user.id }}" />
                    <div class="form-floating col-md-6">
                        {{ form.name }}<br>
                        <label for="floatingName">Group Name <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating col-md-6">
                        {{ form.status }}
                        <label for="floatingName">Status <span style="color:red"></span></label>
                    </div><br />

                    <div class="form-floating col-md-12">
                        <h4 class="card-title">Select Discounts</h4>
                        {{ form.discounts }}<br>

                    </div><br />



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="{% static 'admin_dashboard/scripts/jquery.js' %}"></script>
<script>
$(document).ready(function(){
    $('#fee_method').change(function(){
        method = $(this).val()
        if(method == 'amount'){
            $('#amount_required').text('*')
            $('#percentage_required').text('')
            $('#fee_amount').attr('required', true)
            $('#fee_amount').removeAttr('readonly')
            $('#fee_percentage').attr('required', false)
            $('#fee_percentage').val('')
            $('#fee_percentage').attr('readonly', true)
        } else if(method == 'percentage'){
            $('#amount_required').text('')
            $('#percentage_required').text('*')
            $('#fee_amount').attr('required', false)
            $('#fee_percentage').attr('required', true)
            $('#fee_percentage').removeAttr('readonly')
            $('#fee_amount').attr('readonly', true)
            $('#fee_amount').val('')
        }else {
            $('#fee_amount').attr('required', false)
            $('#fee_percentage').attr('required', false)
            $('#amount_required').text('')
            $('#percentage_required').text('')
            $('#fee_amount').attr('readonly', true)
            $('#fee_percentage').attr('readonly', true)
            $('#fee_percentage').val('')
            $('#fee_amount').val('')
        }
    })

})

</script>

{% endblock %}