{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
{% load attendance_custom_filters %}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Class: {{ class_info }}
                {% if class_info.form_teacher %} Form Teacher: {{ class_info.form_teacher|title }} {% endif %}
                {% if class_info.assistant_form_teacher %} Assistant Form Teacher: {{ class_info.assistant_form_teacher|title }} {% endif %}

                </h4>
                <h4 class="card-title" style="margin-top:-20px">Date: {{ date|date }} <span style="float:right">{% now '' %}</span> </h4>
            </div>
        </div>
    </div>
</div>

<div class="grid-margin">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Student Attendance For {{ class_info }} - {{ date|date }}
                    ({{ academic_info.session }} Session / {{ academic_info.term|title }})</h5>
        	<h5 class="card-title" style="margin-top:-20px">Total: {{ total_attendance }} | Present: {{ present_attendance }} |
                Late: {{ late_attendance }} | Absent: {{ absent_attendance }}</h5>  
	      <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Roll No</th>
                            <th scope="col" class="text-center" colspan="3">Attendance </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for student in student_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ student|title }}
                                <input type="hidden" name="students[]" value="{{student.id}}">
                            </td>
                            <td>{{ student.class_number }}</td>
                            <td colspan="3" class="text-center">
                                {% if student|check_student_attendance:date == 'present' %} <span class="text-success">Present </span> {% endif %}
                                {% if student|check_student_attendance:date == 'late' %} <span class="text-warning">Late </span>  {% endif %}
                                {% if student|check_student_attendance:date == 'absent' %} <span class="text-danger">Absent </span>  {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

{% endblock %}
