{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a title="Add Fee Grouping" class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li><a class="dropdown-item" href="#">
                    <a title="Add Fee Grouping" class="btn btn-primary" style="width:100%" href="{% url 'fee_master_create' %}">Add Grouping</a>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">List of Fee Groupings
                {% if school_info.separate_school_section and school_info.school_type == 'mix' %}
                    {% if user.profile.type == 'pri' %}
                        in Primary Division of the School
                    {% elif user.profile.type == 'sec' %}
                        in Secondary Division of the School
                    {% elif user.profile.type == 'mix' %}
                        in the School
                    {% endif %}
                {% endif %}
            </h5>
            {% if form.errors %}
                <h5 class="text-danger">{{form.errors}}</h5>
            {% endif %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fee Group</th>
                    <th scope="col">Fee</th>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %} <th scope="col">Category</th> {% endif %}
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if fee_master_list %}
                {% for group in fee_master_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created by {{ group.user|lower }} at {{ group.created_at|date }} {% if group.updated_by %} and updated by {{ group.updated_by|lower }} at {{ group.updated_at|date }} {% endif %}">{{ group|upper }}</td>
                    <td>{{ group.fee|upper }}</td>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %}
                    <td>{% if group.type|lower == 'pri' %} PRIMARY {% elif group.type|lower == 'sec' %} SECONDARY  {% endif %} </td>
                    {% endif %}
                    <td class="text-center">
                        <a title="Edit Fee Grouping" href="{% url 'fee_master_edit' group.id %}" class="btn btn-warning" href=""><i class="bi bi-pencil-square"></i></a>
                        <a title="View Fee Grouping" href="{% url 'fee_master_detail' group.id %}" class="btn btn-primary" href=""><i class="bi bi-eye"></i></a>
                        <a title="Delete Fee Grouping" href="{% url 'fee_master_delete' group.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
            {% if not fee_master_list %}
                <h3 class="text-center">No Fee Grouping Added Yet</h3>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}