{% extends 'student_portal/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Available Lesson Notes</h5>

            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Title</th>

                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if lesson_note_list %}
                {% for note in lesson_note_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>

                    <td>{{ note.subject|title }}</td>
                    <td>{{ note.title }}</td>
                    <td class="text-center">
                        <a title="View Note Detail" href="{% url 'student_lesson_note_detail' note.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
            {% if not lesson_note_list %}
                <h3 class="text-center">No Available Lesson Note Yet</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}