{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown" title="create subject"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Action</h6>
                </li>

                <li><a class="dropdown-item" href="#">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered" style="width:100%">Add Subject</button>
                </a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">Subject List
            {% if school_info.separate_school_section and school_info.school_type == 'mix' %}
                    {% if user.profile.type == 'pri' %}
                        in Primary Division of the School
                    {% elif user.profile.type == 'sec' %}
                        in Secondary Division of the School
                    {% elif user.profile.type == 'mix' %}
                        in the School
                    {% endif %}
                {% endif %}
            </h5>
            {% if form.errors %}
                <h5 class="text-danger">{{form.errors}}</h5>
            {% endif %}
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Code</th>
                    <th scope="col">Type</th>
                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %} <th scope="col">Category</th> {% endif %}
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if subject_list %}
                {% for subject in subject_list %}
                <tr>
                    <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                    <td title="created by {{ subject.user|lower }} at {{ subject.created_at|date }} {% if subject.updated_by %} and updated by {{ subject.updated_by|lower }} at {{ subject.updated_at|date }} {% endif %}">
                        {{ subject.name|upper }}</td>
                    <td>{{ subject.code|upper }}</td>
                    <td>{{ subject.subject_type|upper }}</td>

                    {% if school_info.school_type|lower == 'mix' and not school_info.separate_school_section %}
                    <td>{% if section.type|lower == 'pri' %} PRIMARY {% elif section.type|lower == 'sec' %} SECONDARY  {% endif %} </td>
                    {% endif %}
                    <td class="text-center">
                        <button title="Edit Subject" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}"><i class="bi bi-pencil-square"></i></button>
                        <a title="View Subject Details" href="{% url 'subject_detail' subject.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        <a title="Delete Subject" href="{% url 'subject_delete' subject.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr><td colspan="5"><h3 class="text-center">No Subject Added Yet</h3></td></tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>


<form method="POST" action="{% url 'subject_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Subject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        {{ form.name }}
                        <input type="hidden" name="type" value="{{ user.profile.type }}" />
                        <input type="hidden" name="user" value="{{ user.id }}" />
                        <label for="floatingName">Subject Name <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.code }}
                        <label for="floatingName">Subject Code <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        {{ form.subject_type }}
                        <label for="floatingName">Subject type <span style="color:red"><b>*</b></span></label>
                    </div><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% for subject in subject_list %}
<form method="POST" action="{% url 'subject_edit' subject.id %}">
    {% csrf_token %}
    <div class="modal fade" id="edit{{ forloop.counter }}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Subject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="updated_by" value="{{ user.id }}" />
                    <div class="form-floating">
                        <input type="text" name="name" value="{{ subject.name|lower }}" autocomplete="off" required class="form-control">
                        <label for="floatingName">Subject Name <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        <input type="text" name="code" value="{{ subject.code|lower }}" autocomplete="off" required class="form-control">
                        <label for="floatingName">Subject Code <span style="color:red"><b>*</b></span></label>
                    </div><br />

                    <div class="form-floating">
                        <select name="subject_type" class="form-control">
                            <option value="theory" {% if subject.subject_type == 'theory' %} selected {% endif %}>THEORY</option>
                            <option value="practical" {% if subject.subject_type == 'practical' %} selected {% endif %}>PRACTICAL</option>
                        </select>
                        <label for="floatingName">Subject Type <span style="color:red"><b>*</b></span></label>
                    </div><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}


{% endblock %}