{% extends 'admin_dashboard/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<style>
	p {
		padding-left:15px;
		font-family:cursive
	}
	
	label {
		color: orange
	}
</style>
<section class="section">
  <div class="row">

	<div class="col-lg-12">

	  <div class="card">
		<div class="card-body">
		  <h5 class="card-title">Category: {{logistic_category|upper}}	<a style="float:right" href="{% url 'logistic_category_edit' logistic_category.pk %}" class="btn btn-outline-primary">Edit</a>
		   <a style="float:right" href="{% url 'logistic_category_delete' logistic_category.pk %}" class="btn btn-outline-danger"> Delete</a></h5>
			{% if logistic_category.cat_items.all|length > 0 %}
            <h5 class="card-title">Items in {{ logistic_category|title }} Category </h5>
			<table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="min-width:120px">Package</th>

                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in logistic_category.cat_items.all %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.name|upper }} </td>

                            <td class="text-center">
								<a class="btn btn-primary" href="{% url 'logistic_item_edit' item.id %}">Edit</a>
								<a class="btn btn-success" href="{% url 'logistic_item_detail' item.id %}">View</a>
							</td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
			{% else %}
             <p>No Item in this category</p>
			{% endif %}


		</div>
	  </div>

	</div>
  </div>
</section>
{%endblock %}