{% extends 'admin_dashboard/layout.html' %}
{% load static %}
{% block 'main' %}
<div class="card">
    <div class="card-body ">
        <h5 class="card-title">Actions</h5>
        {% if not class_section_info %}
            <button type="button" title="Assign Class Subjects" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit{{ forloop.counter }}"><i class="bi bi-book-half"></i></button>
            <button type="button" title="Assign Class Teacher" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createteacher"><i class="bi bi-person-bounding-box"></i></button>
            <button type="button" title="Assign Class Reps" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createclassrep"><i class="bi bi-person-circle"></i></button>
        {% else %}
            <button type="button" title="Update Class Subjects" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editsubjects"><i class="bi bi-book-half"></i></button>
            <button type="button" title="Update Class Teacher" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editteacher"><i class="bi bi-person-bounding-box"></i></button>
            <button type="button" title="Update Class Reps" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editclassrep"><i class="bi bi-person-circle"></i></button>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Class Detail</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Student List</button>
                    </li>
                </ul>

                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">Class Details</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="ri-contacts-book-2-fill"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ student_class.name|upper }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Class Name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="ri-code-box-line"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ student_class.name|upper }} {{ class_section.name|upper }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Class Section</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="card info-card sales-card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-people"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>{{ student_list|length }}</h6>
                                                <span class="text-muted small pt-2 ps-1">Number of Students</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 grid-margin">
                                <div class="card" style="margin-top:15px;padding:20px">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="card-title"> FORM TEACHER INFORMATION </p>
                                                <div class="row">
                                                    {% if class_section_info.form_teacher %}
                                                    <div class="col-md-4">
                                                        <img class="rounded-circle" style="width:100px" {% if class_section_info.form_teacher.image %} src="/media/{{ class_section_info.form_teacher.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p> {{class_section_info.form_teacher|title}}</p>
                                                        <p>{% if class_section_info.form_teacher.registration_number %} {{class_section_info.form_teacher.registration_number|title}} {% endif %}</p>
                                                        <p>{% if class_section_info.form_teacher.mobile %} {{class_section_info.form_teacher.mobile|title}} {% else %} Mobile Not Provided {% endif %}</p>
                                                        <p>{% if class_section_info.form_teacher.email %} {{class_section_info.form_teacher.email|lower}} {% else %} Email Not Provided {% endif %}</p>
                                                        <p><a title="view profile" href="{% url 'staff_detail' class_section_info.form_teacher.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a> </p>
                                                    </div>
                                                    {% else %}
                                                        <h4 class="text-description">FORM TEACHER NOT ASSIGNED</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-title"> ASSISTANT FORM TEACHER INFORMATION </p>
                                                <div class="row">
                                                    {% if class_section_info.assistant_form_teacher %}
                                                    <div class="col-md-4">
                                                        <img class="rounded-circle" style="width:100px" {% if class_section_info.assistant_form_teacher.image %} src="/media/{{ class_section_info.assistant_form_teacher.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p> {{class_section_info.assistant_form_teacher|title}}</p>
                                                        <p>{% if class_section_info.assistant_form_teacher.registration_number %} {{class_section_info.assistant_form_teacher.registration_number|title}} {% endif %}</p>
                                                        <p>{% if class_section_info.assistant_form_teacher.mobile %} {{class_section_info.assistant_form_teacher.mobile|title}} {% else %} Mobile Not Provided {% endif %}</p>
                                                        <p>{% if class_section_info.assistant_form_teacher.email %} {{class_section_info.assistant_form_teacher.email|lower}} {% else %} Email Not Provided {% endif %}</p>
                                                        <p><a title="view profile" href="{% url 'staff_detail' class_section_info.assistant_form_teacher.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a> </p>
                                                    </div>
                                                    {% else %}
                                                        <h4>ASSISTANT FORM TEACHER NOT ASSIGNED</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 grid-margin">
                                <div class="card" style="margin-top:15px;padding:20px">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="card-title"> CLASS REP INFORMATION </p>
                                                <div class="row">
                                                    {% if class_section_info.class_rep %}
                                                    <div class="col-md-4">
                                                        <img class="rounded-circle" style="width:100px" {% if class_section_info.class_rep.image %} src="/media/{{ class_section_info.class_rep.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p> {{class_section_info.class_rep|title}}</p>
                                                        <p>{% if class_section_info.class_rep.registration_number %} {{class_section_info.class_rep.registration_number|upper}} {% endif %}</p>
                                                        <p>{% if class_section_info.class_rep.email %} {{class_section_info.class_rep.email|lower}} {% else %} Email Not Provided {% endif %}</p>
                                                        <p><a title="view profile" href="{% url 'student_detail' class_section_info.class_rep.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a> </p>
                                                    </div>
                                                    {% else %}
                                                        <h4 class="text-description">CLASS REP NOT ASSIGNED</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="card-title"> ASSISTANT CLASS REP INFORMATION </p>
                                                <div class="row">
                                                    {% if class_section_info.assistant_class_rep %}
                                                    <div class="col-md-4">
                                                        <img class="rounded-circle" style="width:100px" {% if class_section_info.assistant_class_rep.image %} src="/media/{{ class_section_info.assistant_class_rep.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p> {{class_section_info.assistant_class_rep|title}}</p>
                                                        <p>{% if class_section_info.assistant_class_rep.registration_number %} {{class_section_info.assistant_class_rep.registration_number|title}} {% endif %}</p>
                                                        <p>{% if class_section_info.assistant_class_rep.mobile %} {{class_section_info.assistant_class_rep.mobile|title}} {% else %} Mobile Not Provided {% endif %}</p>
                                                        <p><a title="view profile" href="{% url 'student_detail' class_section_info.assistant_class_rep.id %}" class="btn btn-primary"><i class="bi bi-eye"></i></a> </p>
                                                    </div>
                                                    {% else %}
                                                        <h4>ASSISTANT CLASS REP NOT ASSIGNED</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    {% if class_section_info.subjects.all %}
                                    <h5 class="card-title">Subjects offered by in {{ student_class.name|upper }} {{ class_section.name|upper }}</h5>
                                    <ul class="list-group">
                                        {% for subject in class_section_info.subjects.all %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                  {{ subject.name|upper }}
                                                <span class="">
                                                    <a title="View Subject Detail" class="btn btn-primary" href="{% url 'subject_detail' subject.id %}"><i class="bi bi-eye"></i></a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                        <h5 class="card-title text-center">No subject Assigned in {{ student_class.name|upper }} {{ class_section.name|upper }}</h5>
                                    {% endif %}
                                </div>
                            </div>

                            <p><i>This class was created by {{ student_class.user|lower }} at {{ student_class.created_at|date }} {% if student_class.updated_by %} and updated by {{ student_class.updated_by|lower }} at {{ student_class.updated_at|date }} {% endif %}</i></p>
                        </div>
                    </div>

                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <div class="row">
                            <div class="card-body">
                                <h5 class="card-title">Registered Students in {{ student_class.name|upper }} {{ class_section.name|upper }}</h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Reg Number</th>
                                            <th scope="col">Gender</th>
                                            <th class="text-center" scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if student_list %}
                                        {% for student in student_list %}
                                            <tr>
                                                <th scope="row"><img class="rounded-circle" style="width:50px" {% if student.image %} src="/media/{{ student.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} /> </th>
                                                <td>{{ student.surname|title }} {% if student.middle_name %} {{ student.middle_name|title }} {% endif %} {{ student.last_name|title }}</td>
                                                <td>{% if student.registration_number %} {{ student.registration_number|upper }} {% endif %}</td>
                                                <td>{{ student.gender|title }}</td>
                                                <td class="text-center"><a class="btn btn-primary" href="{% url 'student_detail' student.id %}"><i class="bi bi-eye"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                            <tr><td colspan="5"><h3 class="text-center">No Student in this Class </h3></td></tr>
                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if not class_section_info %}
<form method="POST" action="{% url 'class_section_info_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="edit" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Subjects to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Subjects </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="student_class" value="{{ student_class.id }}">
                                <input type="hidden" name="section" value="{{ class_section.id }}">
                                <input type="hidden" name="type" value="{{ user.profile.type }}" />
                                <input type="hidden" name="user" value="{{ user.id }}" />
                                {{ form.subjects }}
                            </div><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<form method="POST" action="{% url 'class_section_info_edit' class_section_info.id %}">
    {% csrf_token %}
    <div class="modal fade" id="editsubjects" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Subjects to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Subjects </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="class_rep" value="{{ class_section_info.class_rep.id }}" />
                                <input type="hidden" name="assistant_class_rep" value="{{ class_section_info.assistant_class_rep.id }}" />
                                <input type="hidden" name="type" value="{{ user.profile.type }}" />
                                <input type="hidden" name="updated_by" value="{{ user.id }}" />
                                {% if class_section_info.form_teacher %}
                                    <input type="hidden" name="form_teacher" value="{{ class_section_info.form_teacher.id }}">
                                {% endif %}
                                {% if class_section_info.assistant_form_teacher %}
                                    <input type="hidden" name="assistant_form_teacher" value="{{ class_section_info.assistant_form_teacher.id }}">
                                {% endif %}
                                {% for subject in subject_list %}
                                    <input {% if subject in class_section_info.subjects.all %} checked {% endif %} type="checkbox" name="subjects" value="{{ subject.id }}"> {{ subject.name|upper }} <br />
                                {% endfor %}
                            </div><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endif %}


{% if not class_section_info %}
<form method="POST" action="{% url 'class_section_info_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="createteacher" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Class Teacher to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Form Teacher </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="student_class" value="{{ student_class.id }}">
                                <input type="hidden" name="section" value="{{ class_section.id }}">
                                <input type="hidden" name="type" value="{{ user.profile.type }}" />
                                <input type="hidden" name="user" value="{{ user.id }}" />
                                <ol class="list-group">
                                    {% if staff_list %}
                                    {% for staff in staff_list %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="{{ staff.image.url }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                {{ staff|upper }}</div>
                                          </div>
                                          <span class=""><input type="radio" name="form_teacher" value="{{ staff.id }}"></span>
                                        </li>
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-description">No Registered Staff</p>
                                    {% endif %}
                                    </ol>
                            </div><br />
                        </div>

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Assistant Form Teacher </h4>
                            <div class="form-floaing">
                                {% if staff_list %}
                                {% for staff in staff_list %}

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="/media/{{ staff.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                        {{ staff|upper }}</div>
                                  </div>
                                  <span class=""><input type="radio" name="assistant_form_teacher" value="{{ staff.id }}"></span>
                                </li>
                                {% endfor %}
                                {% else %}
                                    <p class="text-description">No Registered Staff</p>
                                {% endif %}
                            </div><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<form method="POST" action="{% url 'class_section_info_edit' class_section_info.id %}">
    {% csrf_token %}
    <div class="modal fade" id="editteacher" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign  Class Teacher to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Form Teacher </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="updated_by" value="{{ user.id }}" />
                                <input type="hidden" name="class_rep" value="{{ class_section_info.class_rep.id }}" />
                                <input type="hidden" name="assistant_class_rep" value="{{ class_section_info.assistant_class_rep.id }}" />
                                {% for subject in class_section_info.subjects.all %}
                                <input type="hidden" name="subjects" value="{{ subject.id }}">
                                {% endfor %}
                                <ol class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"> ----------- SET NULL ----------- </div>
                                  </div>
                                  <span class=""><input type="radio" checked name="form_teacher" value=""></span>
                                </li>
                                {% for staff in staff_list %}

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="{{ staff.image.url }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                        {{ staff|upper }}</div>
                                  </div>
                                  <span class=""><input type="radio" {% if staff == class_section_info.form_teacher %} checked {% endif %} name="form_teacher" value="{{ staff.id }}"></span>
                                </li>
                                {% endfor %}
                                    </ol>
                            </div><br />
                        </div>

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Assistant Form Teacher </h4>
                            <div class="form-floaing">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"> ----------- SET NULL ----------- </div>
                                  </div>
                                  <span class=""><input type="radio" checked name="assistant_form_teacher" value=""></span>
                                </li>
                                {% for staff in staff_list %}

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="{{ staff.image.url }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                        {{ staff|upper }}</div>
                                  </div>
                                  <span class=""><input type="radio" {% if staff == class_section_info.assistant_form_teacher %} checked {% endif %} name="assistant_form_teacher" value="{{ staff.id }}"></span>
                                </li>
                                {% endfor %}
                            </div><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endif %}


{% if not class_section_info %}
<form method="POST" action="{% url 'class_section_info_create' %}">
    {% csrf_token %}
    <div class="modal fade" id="createclassrep" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Class Rep to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Class Rep </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="student_class" value="{{ student_class.id }}">
                                <input type="hidden" name="section" value="{{ class_section.id }}">
                                <input type="hidden" name="type" value="{{ user.profile.type }}" />
                                <input type="hidden" name="user" value="{{ user.id }}" />
                                <ol class="list-group">
                                    {% if student_list %}
                                    {% for student in student_list %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if student.image %} src="/media/{{ student.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                {{ student|upper }}</div>
                                          </div>
                                          <span class=""><input type="radio" name="class_rep" value="{{ student.id }}"></span>
                                        </li>
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-description">No Student in the class</p>
                                    {% endif %}
                                    </ol>
                            </div><br />
                        </div>

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Assistant Class Rep </h4>
                            <div class="form-floaing">
                                {% if student_list %}
                                {% for student in student_list %}

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="{{ student.image.url }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                        {{ student|upper }}</div>
                                  </div>
                                  <span class=""><input type="radio" name="assistant_class_rep" value="{{ student.id }}"></span>
                                </li>
                                {% endfor %}
                                {% else %}
                                    <p class="text-description">No Registered Student in the class</p>
                                {% endif %}
                            </div><br />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<form method="POST" action="{% url 'class_section_info_edit' class_section_info.id %}">
    {% csrf_token %}
    <div class="modal fade" id="editclassrep" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Class Rep to {{ student_class|upper }} {{ class_section|upper }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Class Rep </h4>
                            <div class="form-floaing">
                                <input type="hidden" name="updated_by" value="{{ user.id }}" />
                                <input type="hidden" name="form_teacher" value="{{ class_section_info.form_teacher.id }}" />
                                <input type="hidden" name="assistant_form_teacher" value="{{ class_section_info.assistant_form_teacher.id }}" />
                                {% for subject in class_section_info.subjects.all %}
                                <input type="hidden" name="subjects" value="{{ subject.id }}">
                                {% endfor %}
                                <ol class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto">
                                        <div class="fw-bold"> ----------- SET NULL ----------- </div>
                                      </div>
                                      <span class=""><input type="radio" checked name="class_rep" value=""></span>
                                    </li>
                                    {% for student in student_list %}

                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if student.image %} src="/media/{{ student.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                                {{ student|upper }}</div>
                                          </div>
                                          <span class=""><input type="radio" {% if student == class_section_info.class_rep %} checked {% endif %} name="class_rep" value="{{ student.id }}"></span>
                                        </li>
                                    {% endfor %}
                                    </ol>
                            </div><br />
                        </div>

                        <div class="col-md-6">
                            <h4 class="card-title" style="margin-top:-20px">Select Assistant Class Rep </h4>
                            <div class="form-floaing">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"> ----------- SET NULL ----------- </div>
                                  </div>
                                  <span class=""><input type="radio" checked name="assistant_class_rep" value=""></span>
                                </li>
                                {% for student in student_list %}

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><img class="rounded-circle" style="width:40px;height:40px;" {% if staff.image %} src="/media/{{ student.image }}" {% else %} src="{% static 'admin_dashboard/images/default_image.jpg' %}" {% endif %} />
                                        {{ student|upper }}</div>
                                  </div>
                                  <span class=""><input type="radio" {% if student == class_section_info.assistant_class_rep %} checked {% endif %} name="assistant_class_rep" value="{{ student.id }}"></span>
                                </li>
                                {% endfor %}
                            </div><br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endif %}

{%endblock %}