{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Expense Type</h4>
            <p>Type: <i>{{expense_type|upper }}</i></p>

            <p>The expense type will be permanently deleted.</p>
            {% if expense_type.no_of_expenses > 0 %}
                <p>{{ expense_type.no_of_expenses }} expense{{expense_type.no_of_expenses|pluralize }} under the type will be deleted</p>
            {% else %}
                <p>There is currently no expense under this type.</p>
            {% endif %}
            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'expense_type_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}