{% extends 'admin_dashboard/layout.html' %}
{% block 'main' %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Class Section</h4>
            <p>Section: <i>{{class_section.name|upper }}</i></p>

            <p>The class section will be permanently deleted.</p>
            {% if class_section.no_of_students > 0 %}
                <p>{{class_section.no_of_students }} student{{class_section.no_of_students|pluralize }} in the class section will be without a class section</p>
            {% else %}
                <p>There is currently no student in this class section.</p>
            {% endif %}
            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'class_section_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}